#mizarModule label, #selectedFeatureDiv, #selectedFeatureDiv div, .featureTitle, #reverseNameResolver div, .nameResolverResult {
    color: white;
}

.ui-widget-content {
    z-index: 100000;
}

#searchForm fieldset > input {
    top: 8px;
}