/***************************************
* Copyright 2010-2013 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/

.x-window-bwrap .services-toolbar {
	background-image: url("/sitools/cots/extjs/resources/images/gray-custom/title3_02.png") !important;
	background-position: 0 -26px !important;
	background-color : transparent; 
}

.services-toolbar-btn .x-btn-mc .sitools-btn-green .sitools-btn-blue .sitools-btn-green{
	padding : 0px  10px 0px 10px !important;
}

.sitools-btn-green button {
	color: 3F3F3F !important;
	text-shadow: 0.07em 0.09em #D5D5D5;
}

.sitools-btn-blue button {
	color: 3F3F3F !important;
	text-shadow: 0.07em 0.09em #D5D5D5;
}

.sitools-btn-red button {
	text-shadow: 0.07em 0.09em #D5D5D5;
}

.sitools-btn-green .x-btn-ml,
.sitools-btn-green .x-btn-mr,
.sitools-btn-green .x-btn-mc {
	background-image: url("/sitools/cots/extjs/resources/images/gray-custom/bt_green.png");
}

.sitools-btn-blue .x-btn-ml,
.sitools-btn-blue .x-btn-mr,
.sitools-btn-blue .x-btn-mc {
	background-image: url("/sitools/cots/extjs/resources/images/gray-custom/bt_blue.png");
}

.sitools-btn-red .x-btn-ml,
.sitools-btn-red .x-btn-mr,
.sitools-btn-red .x-btn-mc {
	background-image: url("/sitools/cots/extjs/resources/images/gray-custom/bt_red.png");
}



