/***************************************
* Copyright 2010-2014 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/
.navBar_bg {
	background: repeat-x scroll 0 0 rgba(250, 248, 248, 0.5);
	/* 	background-image: url("/sitools/client-user/resources/images/taskbar/taskbar_bg.png"); */
}

#navBar_shadow {
	height: 43px;
	background: repeat-x scroll 0 39px rgba(0, 0, 0, 0);
	background-image:
		url("/sitools/client-user/resources/images/taskbar/taskbar_shadow.png");
}

.sitools_button {
	padding: 4px 4px 4px 4px;
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: none;
}

.sitools_button:HOVER {
	background-color: rgba(255, 255, 255, 0.5);
}

.sitools_button_img {
	background-image: url("/sitools/common/res/images/sitools_logo24.png");
}

.sitools_button_img:HOVER {
	background-image:
		url("/sitools/common/res/images/sitools_logo24_hover.png");
}