*/***************************************
* Copyright 2010-2016 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/
.navBar_bg {
	background: repeat-x scroll 0 0 rgba(250, 248, 248, 0.5);
	/* 	background-image: url("/sitools/client-user/resources/images/taskbar/taskbar_bg.png"); */
}

#navBar_shadow {
	height: 43px;
	background: repeat-x scroll 0 39px rgba(0, 0, 0, 0);
	background-image:
		url("/sitools/client-user/resources/images/taskbar/taskbar_shadow.png");
}

.sitools_button_main {
	padding: 3px 0px 0px 0px;
	border: none;
	background-color: transparent;
	background-image: none;
}

.sitools_button_main span{
	color : #666;
}

.sitools_button {
	padding: 4px 4px 4px 4px;
	border: none;
	background-color: transparent;
	background-image: none;
}

.main_button_img {
	background-image: url("/sitools/common/res/images/icons/general/mainMenu.png");
}

.user_button_img {
	background-image: url("/sitools/common/res/images/icons/general/user.png");
}

.save_button_img {
	background-image: url("/sitools/common/res/images/icons/general/save-icon.png");
}

.maxi_button_img {
	background-image: url("/sitools/common/res/images/icons/general/maxi-icon.png");
}

.mini_button_img {
	background-image: url("/sitools/common/res/images/icons/general/mini-icon.png");
}

.delete_button_img {
	background-image: url("/sitools/common/res/images/icons/general/delete.png");
}

.delete_button_small_img {
	background-image: url("/sitools/common/res/images/icons/general/delete16x16.png");
}

.desktop_button_small_img {
	background-image: url("/sitools/common/res/images/icons/general/desktop.png");
}

.desktop_button_img {
	background-image: url("/sitools/common/res/images/icons/general/desktop24.png");
}

.more_button_img {
	background-image: url("/sitools/common/res/images/icons/general/more.png");
}

.next_button_img {
	background-image: url("/sitools/common/res/images/icons/general/next.png");
}

.previous_button_img {
	background-image: url("/sitools/common/res/images/icons/general/previous.png");
}

.version-icon {
	background-image: url(/sitools/common/res/images/icons/general/version.png);
}

.help-icon {
	background-image: url(/sitools/common/res/images/icons/general/help.png);
}
