
.moduleDvImg {
	width : 72px;
	height : 72px;
	margin : auto;
	background-size: 72px 72px !important;
}

.moduleDv {
	width: 165px;
	height: 120px;
	padding: 16px 8px 0px 8px;
	float: left;
	cursor: pointer;
}

.moduleDv-menu {
	width: 165px;
	height: 120px;
	padding: 16px 8px 0px 8px;
	float: left;
	cursor: progress;
}

.moduleDv:HOVER .moduleDvText {
	text-shadow: 0.1em 0.1em 0.1em #376584 !important;
}

.moduleDv:HOVER {
	opacity : .85;
}

.moduleDvText {
	color: #F7F7F7;
	font-size: 15px;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.1em #326A8F;
	padding-top: 10px;
}

.moduleDvTextCategory {
	color: #F7F7F7;
	font-size: 15px;
	text-shadow: 0.1em 0.1em 0.1em #326A8F;
	font-style: italic;
	font-weight: bold;
	padding-top: 10px;
}

.modulesDataview-bg {
	background-color: transparent;
}

.modulesDataview {
	border-color: transparent;
	/*box-shadow: rgba(56, 146, 211, 0.25) 0px 0px 4px 2px;*/
}

.toolbarBtnModules {
	background : transparent;
	border : none;
}

.x-mask {
	opacity: 0.8;
	background: #525252;
}
