/***************************************
* Copyright 2010-2014 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/

.allTaskbars-bg {
	box-shadow: #818181 0px 3px 7px 0px;
}

.moduleTaskbar-bg {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 19%, rgba(243,243,243,1) 24%, rgba(243,243,243,1) 36%, rgba(243,243,243,1) 36%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(19%,rgba(237,237,237,1)), color-stop(24%,rgba(243,243,243,1)), color-stop(36%,rgba(243,243,243,1)), color-stop(36%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 19%,rgba(243,243,243,1) 24%,rgba(243,243,243,1) 36%,rgba(243,243,243,1) 36%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 19%,rgba(243,243,243,1) 24%,rgba(243,243,243,1) 36%,rgba(243,243,243,1) 36%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 19%,rgba(243,243,243,1) 24%,rgba(243,243,243,1) 36%,rgba(243,243,243,1) 36%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 19%,rgba(243,243,243,1) 24%,rgba(243,243,243,1) 36%,rgba(243,243,243,1) 36%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	box-shadow: #636363 0px 0px 12px 0px;
}

.module_button {
	background: none;
	border : none;
	border-radius: 1px;
}

.module_button:hover {
	border-radius: 1px;
	background: #e6e6e6; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #e6e6e6 0%, #eeeeee 33%, #eeeeee 84%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e6e6e6), color-stop(33%,#eeeeee), color-stop(84%,#eeeeee), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #e6e6e6 0%,#eeeeee 33%,#eeeeee 84%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #e6e6e6 0%,#eeeeee 33%,#eeeeee 84%,#e6e6e6 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #e6e6e6 0%,#eeeeee 33%,#eeeeee 84%,#e6e6e6 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #e6e6e6 0%,#eeeeee 33%,#eeeeee 84%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.buttonTaskbar-bg {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 55%, rgba(244,244,244,1) 70%, rgba(231,231,231,1) 83%, rgba(231,231,231,1) 83%, rgba(248,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(244,244,244,1)), color-stop(70%,rgba(244,244,244,1)), color-stop(83%,rgba(231,231,231,1)), color-stop(83%,rgba(231,231,231,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

	box-shadow : #636363 0px 0px 12px 0px;
}

.sitoolsTaskbar-bg {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 55%, rgba(244,244,244,1) 70%, rgba(231,231,231,1) 83%, rgba(231,231,231,1) 83%, rgba(248,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(55%,rgba(244,244,244,1)), color-stop(70%,rgba(244,244,244,1)), color-stop(83%,rgba(231,231,231,1)), color-stop(83%,rgba(231,231,231,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 55%,rgba(244,244,244,1) 70%,rgba(231,231,231,1) 83%,rgba(231,231,231,1) 83%,rgba(248,248,248,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

	box-shadow: #636363 1px 0px 10px 0px;
}

.moduleInstances-bg {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fafafa 0%, #e8e8e8 19%, #eeeeee 24%, #eeeeee 36%, #eeeeee 36%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fafafa), color-stop(19%,#e8e8e8), color-stop(24%,#eeeeee), color-stop(36%,#eeeeee), color-stop(36%,#eeeeee), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #fafafa 0%,#e8e8e8 19%,#eeeeee 24%,#eeeeee 36%,#eeeeee 36%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #fafafa 0%,#e8e8e8 19%,#eeeeee 24%,#eeeeee 36%,#eeeeee 36%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #fafafa 0%,#e8e8e8 19%,#eeeeee 24%,#eeeeee 36%,#eeeeee 36%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(135deg,  #fafafa 0%,#e8e8e8 19%,#eeeeee 24%,#eeeeee 36%,#eeeeee 36%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow: #A3A3A3 4px -2px 12px 0px;
}
