/***************************************
* Copyright 2010-2016 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/
.userIcon {
	background-image: url(/sitools/client-public/res/images/icons/menu/usersGroups.png) !important;
}

.logoutIcon {
	background-image: url(/sitools/client-user/resources/images/icons/session/logout.png) !important;
}

.personalIcon {
	background-image: url(/sitools/client-user/resources/images/icons/session/personal.png) !important;
}

.saveUserIcon {
	background-image: url(/sitools/client-user/resources/images/icons/general/save_user.png) !important;
}

.deleteSaveIcon {
	background-image: url(/sitools/client-user/resources/images/icons/general/delete_save.png) !important;
}

.savePublicIcon {
	background-image: url(/sitools/client-user/resources/images/icons/general/save_public.png) !important;
}

.customMenuSeparator {
	height: 1px;
	background-color: #FFF;
	margin: 2px 0;
	padding: 0;
	border-top: solid 1px #D5D5D5;
	box-shadow: #F0F8FF 1px 1px 1px 1px;
}

.userMenuCls {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color : #222;
}

.menuItemCls .x-menu-item-text{
	font-size: 11px;
	line-height: 32px;
	padding-left: 8px;
	color : #222;
}