/***************************************
* Copyright 2010-2014 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/
.thumb {
    background: none repeat scroll 0 0;
    padding: 3px;
}
.thumb img {
    height: 60px;
    width: 80px;
}
.thumb-wrap {
    margin: 4px 0 4px 4px;
    padding: 4px;
    border : 1px outset #0B208F;
}
.thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: justify;
}
.x-view-over {
/*    background: url("../images/row-over.gif") repeat-x scroll left top #EFEFEF;*/
    background: repeat-x scroll left top #EFEFEF;
    border: 1px outset #0B208F !important;
    padding: 4px;
}
.x-view-selected {
/*    background: url("../images/selected.gif") no-repeat scroll right bottom #EFF5FB;*/
    background: no-repeat scroll right bottom #EFF5FB;
    border: 1px outset #0B208F !important;
    padding: 4px;
}
.x-view-selected .thumb {
    background: none repeat scroll 0 0 transparent;
}
.loading-indicator {
    background-image: url("../images/loading.gif");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 11px;
    margin: 10px;
    padding-left: 20px;
}

.x-view-entete {
	font-weight: bold;
	width : 100px;
	float: left;
	clear: both;
}