body {
	text-align : left;
	color: #333;
	text-shadow: 0.1em 0.1em #FFF0F0;
	width : 900px;
	background: #cfe3f1;
}

.title {
	margin-top : 45px;
}

.icon {
	float: left;
	padding: 5px 8px 5px 5px;
}

.paragraph {
	text-align : justify;
	font-family: serif;
	padding : 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #F5FCFF;
	border: 1px solid #E4E4E4;
	-moz-box-shadow: 1px 1px 3px 0px #999;
	-webkit-box-shadow: 1px 1px 3px 0px #999;
	-o-box-shadow: 1px 1px 3px 0px #999;
	box-shadow: 1px 1px 3px 0px #999;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.screenshot_effect {
	margin: auto;
	display: block;
	-moz-box-shadow: 0px 0px 10px 2px #999;
	-webkit-box-shadow: 0px 0px 10px 2px #999;
	-o-box-shadow: 0px 0px 10px 2px #999;
	box-shadow: 0px 0px 10px 2px #999;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.separator {
    padding-top: 8px;

}