.fitsService {
	background-image:
		url(/sitools/client-extension/resources/img/fitsViewer/stars.png)
		!important;
}

.fitsModule {
	background-image:
		url(/sitools/client-extension/resources/img/fitsViewer/moon.png)
		!important;
	background-size: 18px 18px;
	background-position: left !important;
	background-repeat: no-repeat;
}

.histogram-background {
	background: #6b6b6b; /* Old browsers */
	background: -moz-linear-gradient(top, #6b6b6b 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b6b6b),
		color-stop(100%, #0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6b6b6b 0%, #0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6b6b6b 0%, #0e0e0e 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6b6b6b 0%, #0e0e0e 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #6b6b6b 0%, #0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b',
		endColorstr='#0e0e0e', GradientType=0); /* IE6-9 */
}

.canvas-background {
	background: rgb(246, 248, 249); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(246, 248, 249, 1) 0%,
		rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 84%,
		rgba(245, 247, 249, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(246
		, 248, 249, 1)), color-stop(50%, rgba(229, 235, 238, 1)),
		color-stop(84%, rgba(215, 222, 227, 1)),
		color-stop(100%, rgba(245, 247, 249, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(246, 248, 249, 1) 0%,
		rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 84%,
		rgba(245, 247, 249, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(246, 248, 249, 1) 0%,
		rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 84%,
		rgba(245, 247, 249, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(246, 248, 249, 1) 0%,
		rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 84%,
		rgba(245, 247, 249, 1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(246, 248, 249, 1) 0%,
		rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 84%,
		rgba(245, 247, 249, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9',
		endColorstr='#f5f7f9', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.shadow-canvas {
	-moz-box-shadow: 1px 1px 11px 3px #656565;
	-webkit-box-shadow: 1px 1px 11px 3px #656565;
	-o-box-shadow: 1px 1px 11px 3px #656565;
	box-shadow: 1px 1px 11px 3px #656565;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565,
		Direction=135, Strength=8);
}

.link-style button {
	font-style: italic;
	text-decoration: underline;
	color: blue;
}

.activeButton {
	background: #c1ddf1; /* Old browsers */
	background: -moz-linear-gradient(top, #c1ddf1 0%, #b6d6ed 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1ddf1),
		color-stop(100%, #b6d6ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c1ddf1 0%, #b6d6ed 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c1ddf1 0%, #b6d6ed 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c1ddf1 0%, #b6d6ed 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #c1ddf1 0%, #b6d6ed 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1ddf1',
		endColorstr='#b6d6ed', GradientType=0); /* IE6-9 */
}

.thresoldLabel {
	padding: 0px 7px 0px 0px;
	font-weight: bold;
}