/***************************************
* Copyright 2011, 2012 CNES - CENTRE NATIONAL d'ETUDES SPATIALES
* 
* This file is part of SITools2.
* 
* SITools2 is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* SITools2 is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with SITools2.  If not, see <http://www.gnu.org/licenses/>.
***************************************/
body,a,p,span,div,td,input,select,label,th,button,dt,em {
	font-family: arial, helvetica, verdana !important;
}

.formBg {
	background-image:
		url("/sitools/common/res/images/logo_01_petiteTaille.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

.projet1 {
	background: #000000 url(/sitools/common/res/wallpapers/filleNB.jpg)
		no-repeat center;
	font: normal 12px tahoma, arial, verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
}

.x-grid3-row-alt {
	background-color: #FBEFDA;
}

.x-grid3-row-over {
	background-color: #EFEFEF;
	border-color: #DDDDDD;
}

.comboItem {
	height: 14px;
}

.textFieldWithUnit {
	float: left;
	position: fixed;
}

.x-mouse-link {
	cursor: pointer;
}

.fond-ecran {
	background-image: url('/sitools/upload/flogging_molly.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.summary {
	background-image:
		url("/sitools/common/res/images/icons/summary_RSS.png");
	background-repeat: no-repeat;
}

.sitools-display-image {
	
}

.sitools-icon-link {
	height: 50px;
}

.grid-column-color {
	background-color: #FBEFDA;
}

.rss_feed_title {
	text-decoration: underline;
	font-size: 110% !important;
}

.rss_feed_title em {
	font-weight: bold;
}

.sous_titre_flux em {
	font-weight: bold;
}

.sitoolsDescriptionHeader {
	float: left;
	font-weight: bold;
	display: block;
}

.sitoolsDescriptionText {
	display: table;
}

.sitoolsDescription {
	padding: 5px;
	clear: both;
	padding-left: 30px;
}

.x-grid3-row-expanded {
	border: 1px outset #3C3AFF;
}

.sitools-no-margin {
	margin: 0px !important;	
}

.no-border {
	border : none !important;	
}

.author {
	font-style: italic;
	font-size: 90%;
}

.sous-titre-flux {
	padding: 5px !important;
}

.warning {
	color: #798006;
}

.erreur_mineure {
	color : #D18100;
}

.erreur_fatale {
	color : #D10000;	
}

.panel-warning {
	background-color: #798006 !important;
}
.panel-erreur {
	background-color: #D10000 !important;
}
.panel-erreur-mineure {
	background-color: #D18100 !important;
}

.row-grid-readOnly {
	background-color : #E8E8E8 !important;	
}

.upload-icon {
    background: url("/sitools/common/res/mages/icons/image_add.png") no-repeat scroll 0 0 transparent !important;
}

.download-icon {
	background: url("/sitools/common/res/images/icons/detailJson.png") no-repeat scroll 0 0 transparent !important;
}

.delete-icon {
	background: url("/sitools/common/res/images/icons/delete.png") no-repeat scroll 0 0 transparent !important;
}

.x-button-dataSet {
    margin: 10px 30px 10px 50px;
}

.field-items ol li,.field-items ul li {
	margin: 0 0 0 25px;
	padding-bottom: 3px;
}

.field-items ol, .field-items ul {
	list-style-type: disc;
}

.boldButton {
	font-weight: bold;
	text-decoration: underline;	
}

.x-panel-collapsed-text {
	font-family	: arial,helvetica,verdana;
	font-size: 11px;
	font-weight:	700;
	font-style:	normal;
	font-size-adjust:	none;
	color:	#15428B;
	text-transform:	none;
	text-decoration:	none;
	letter-spacing:	normal;
	word-spacing:	0;
	line-height:	20px;
	text-align:	start;
	vertical-align:	;
	direction:	ltr;
	text-overflow:	clip;
	padding-left: 5px;
}

.red-row {
	color: red;
}

.orange-row {
	color: orange;
}

.multids-error {
	opacity: 0;	
}

.sitools-maintenance {
	background-image: url(/sitools/common/res/images/icons/maintenance.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.sitools-maintenance-portal {
	background-image: url(/sitools/common/res/images/icons/maintenance.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.sitools-imageThumbnail {
	height : 80px;
	}
	
	
.img-loading {
    background-image: url(../images/ux/loading.gif);
}

.img-error {
    background-image: url(../images/ux/exclamation.gif);
}

.img-valid {
	background-image: url(../images/ux/accept.png);
}

.img-help {
	background-image: url(../images/icons/help.png);
}

.sitools-form-valid-msg {
    padding:2px;
    line-height:16px;
    color:#3A8A14;
    font:normal 11px tahoma, arial, helvetica, sans-serif;    
}


.userButtons {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
	height : 85px;
	width: 70px;
	text-align: center;
	border : 1px solid transparent;
}

.userButtons-thumb {
	background: transparent;
	padding: 3px;
	height: 45px;
}

.userButtons-thumb img{
	height: 50px;
}

.userProfile {
	display: inline-block;
	padding-left: 20px;
	padding-top: 10px;	
	float : left;
}

.userProfileItem-thumb {
	height : 50px;
}

.userProfileName {
	font-weight: bold;
	display: block;
	line-height: 17px;
}

.userProfileEmail {
	color: #666;
	display: block;
	line-height: 17px;
}

.userButtonsDataview {
	width: 360px;
	margin: auto;
}

.userButtons-name {
	display: block;
}

.userButtons-comment {
	display: block;
	font-size: 0.9em;
	font-style: italic;
	color: gray;	
}

.sitools_footer_build_by {
	text-align: center;
	margin : 0px 10px 10px 10px;
	padding-bottom: 10px;
}

.sitools_footer_build_by_textdiv {
	color : white;
}

.sitools_footer_right{
	text-align: center;
	font-size: 0.9em;	
}

.sitools_footer_right a:focus, 
.sitools_footer_right a:hover,
.sitools_footer_right a:active,
.sitools_footer_right a:visited,
.sitools_footer_right a:link {
	text-decoration: none !important;
	color : white;
}

.sitools_footer_right a:hover {
	color: #0081C3 !important;
}

.sitools_footer {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #050301 46%, #356aa0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(46%,#050301), color-stop(100%,#356aa0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#050301 46%,#356aa0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 0%,#050301 46%,#356aa0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#050301 46%,#356aa0 100%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 0%,#050301 46%,#356aa0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.no-background {
	background-color: transparent !important;
}


.sitools-userProfile-warning-icon {
	background-image: url(../images/ux/warning.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

.sitools-userProfile-error-icon {
	background-image: url(../images/ux/exclamation.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

.sitools-userProfile-warning-text {
	color : orange !important;
}

.sitools-userProfile-error-text {
	color : red !important;
}


.x-form-warning-tip .x-tip-tc, .x-form-warning-tip .x-tip-tl, .x-form-warning-tip .x-tip-tr, .x-form-warning-tip .x-tip-bc,
.x-form-warning-tip .x-tip-bl, .x-form-warning-tip .x-tip-br, .x-form-warning-tip .x-tip-ml, .x-form-warning-tip .x-tip-mr
{
	background-image: url(../images/ux/warning-tip-corners.gif) !important;
}

.x-form-warning-tip .x-tip-body {
    background-image:url(../images/ux/warning.gif);
}

.x-statusbar .x-status-warning {
    background-image: url("../images/ux/warning.gif") !important;
    color : orange !important;
}

/*!
 * Ext JS Library 3.2.1
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
#datasetDataView {
	background-color: #fff;
	text-shadow: #fff 0 1px 0;
}

#datasetDataView ul {
	position: relative;
	display: block;
	height: auto;
	font-size: 85%;
}

#datasetDataView ul li img {
	margin-bottom: 1px;
}

#datasetDataView ul li {
	float: left;
	padding: 8px 10px;
	margin: 5px;
	/*    margin: 10px 0 0 25px;*/
	text-align: center;
	line-height: 1.25em;
	color: #333;
	font-family: "Helvetica Neue", sans-serif;
	height: 230px;
	width: 200px;
	overflow: hidden;
	border: 1px solid black !important;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: rgba(100, 100, 100, .15);	
}

/*#projectDataView ul li.phone-hover {
    background-color: #eee;
}*/
#datasetDataView ul li.x-view-selected {	
}

#datasetDataView li strong {
	color: #000;
	display: block;
}

#datasetDataView li span {
	color: #999;
}

#datasetDataView li a img {
	margin-left : 10px;
	margin-right : 10px;
	height : 24px;
	width : 24px;
}

.align-right {
	float:right;
}

.dataset_services {
	margin-top : 5px;
	height : 24px;
}

.dataset_description {
	margin-top : 5px;
	height : 60px;
	text-align: left;
}

.datasetUnauthorized {
	background-image: url("/sitools/common/res/images/icons/cadenas.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

.toolbar {
	background-image: url("/sitools/cots/extjs/resources/images/gray-custom/title3_02.png") !important;
	background-position: 0 -26px !important;
	background-color : transparent; 
}

.checkbox-icon-on {
	background-image: url("../images/icons/row-check-sprite-on.gif");	
}

.checkbox-icon-off {
	background-image: url("../images/icons/row-check-sprite-off.gif");	
}

